<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head(title='Home Page')"></head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 th:text="${message}"></h1>
				<hr />				
				<a th:href="@{/register}">Sign Up</a>
			</div>
		</div>
		<div class="row">
			<table class="col-md-12">
				<tbody>
					<tr th:each="r : ${registers}">
						<td th:text="${r.personalInfo.username}"></td>
						<td th:text="${r.personalInfo.name}"></td>
						<td th:text="${r.billingInfo.address}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script th:replace="fragments/scripts :: scripts"></script>
</body>

</html>